In [2]:
import pandas as pd
import numpy as np
df = pd.read_csv('sample_submission.csv')

In [3]:
df.head()

  image_id  healthy  multiple_diseases  rust  scab
0   Test_0     0.25               0.25  0.25  0.25
1   Test_1     0.25               0.25  0.25  0.25
2   Test_2     0.25               0.25  0.25  0.25
3   Test_3     0.25               0.25  0.25  0.25
4   Test_4     0.25               0.25  0.25  0.25

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1821 entries, 0 to 1820
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   image_id           1821 non-null   object
 1   healthy            1821 non-null   float64
 2   multiple_diseases  1821 non-null   float64
 3   rust               1821 non-null   float64
 4   scab               1821 non-null   float64
dtypes: float64(4), object(1)
memory usage: 71.3+ KB

In [4]:
df.isnull().sum()

image_id             0
healthy              0
multiple_diseases    0
rust                 0
scab                 0
dtype: int64

In [5]:
train = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')

In [18]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1821 entries, 0 to 1820
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   image_id           1821 non-null   object
 1   healthy            1821 non-null   int64
 2   multiple_diseases  1821 non-null   int64
 3   rust               1821 non-null   int64
 4   scab               1821 non-null   int64
dtypes: int64(4), object(1)
memory usage: 71.3+ KB

In [19]:
train['healthy'].value_counts()

0    1305
1     516
Name: healthy, dtype: int64

In [20]:
train['multiple_diseases'].value_counts()

0    1730
1      91
Name: multiple_diseases, dtype: int64

In [21]:
train['rust'].value_counts()

0    1199
1     622
Name: rust, dtype: int64

In [22]:
train['scab'].value_counts()

0    1229
1     592
Name: scab, dtype: int64